body 
{
    font-family: Arial, sans-serif;
}
#openModal 
{
    margin: 20px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
	display: none; 
}
.modal {
        display:none; 
        position:fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
}
.modal-content {
            background: white;
            margin: 10% auto;
            width: 50%;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #000;
            overflow: hidden;
        }
.modal-header 
{
    background: #4CAF50;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header h2 
{
    margin: 0;
}
.close-modal 
{
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}
.modal-body 
{
    padding: 20px;
    font-size: 16px;
    color: #333;
}